* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(91, 63, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vb;
}

.container {
    background-color: rgb(218, 218, 199);
    padding: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    min-height: 50vh;
    width: 55vh;
    
}

form {
    margin: 2rem 0 1rem 0;
}

form select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 3px solid rgb(52, 176, 118);
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    /* font-size: 1.75rem; */
    max-width: 2.5rem;
}

.select-container {
    display: flex;
    width: 7rem;
    /* background-color: rgb(73, 73, 92); */
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 3px solid rgb(52, 176, 118);
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

.msg p{
    margin: 0rem 0 .75rem 0;
    text-align: center;
}
form button {
    height: 3rem;
    background-color: cadetblue;
    color: azure;
    font-size: 1.15rem;
    cursor: pointer;
}