

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 212, 157);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: rgb(126, 21, 9);
    
}

#reset {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 2rem; 
    border: none;
    border-radius: 1rem;
    background-color: rgb(126, 21, 9);
    color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}