h1 {
    color: blue;
    font: bold;
    /* text-decoration: line-through; */
}

body {
    background-color: bisque;
}

button {
    background-color: aqua;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}
.box7 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}